.profile * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.profile {
  width: 100%;
  background-color: var(--light-black);
  height: 100vh;
}

/* 
body {
  display: flex;
  height: 100vh;
  background-color: #343a40;
} */

.profile #container {
  margin: auto;
  display: flex;
  color: #f8f9fa;
  flex-direction: column;
  width: 500px;
  box-shadow: 1px 2px 71px -6px rgba(0, 0, 0, 0.67);
  height: fit-content;
  font-family: sans-serif;
  background-color: #212529;
  padding: 25px 20px;
  border-radius: 10px;
}

.profile #Heading {
  padding: 15px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 900;
  font-family: var(--poppins-font);
}

.profile label {
  font-size: 1.1em;
  font-weight: 500;
  margin: 10px 0px;
  font-family: var(--poppins-font);
}

.profile input,
.profile select {
  padding: 10px;
  border-top-right-radius: 10px;
  height: 50px;
  background-color: #6c757d;
  border-bottom-right-radius: 10px;
  outline: none;
  border: none;
  font-size: 19px;
  transition-duration: 0.15s;

  color: #f8f9fa;

  font-family: var(--poppins-font);
}

.profile input:focus {
  outline: none;
  background-color: none;
}

.profile input::placeholder {
  color: #f8f9fa;
  font-size: 19.2px;
}

.profile .row:not(.name) {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 10% 90%;
}

.profile .name {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-top: 20px;
}

.profile .name>input {
  width: calc(50% - 5px);
  margin: 5px;
  border-radius: 10px;
  ;
}

.profile .icon {
  height: 50px;
  background-color: #6c757d;
  border-top-left-radius: 10px;
  padding: 10px;
  margin-right: 1px;
  border-bottom-left-radius: 10px;
  fill: white;
}

.profile button {
  width: fit-content;
  margin: 30px auto;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  background-color: #248277;
  font-size: 1.1em;
  cursor: pointer;
  transition-duration: 0.25s;

  font-family: var(--poppins-font);
}

.profile button:hover {
  background-color: #036666;
}

.profile span {
  display: flex;
  justify-content: flex-end;

}

.profile a {
  text-decoration: none;
  color: #99e2b4;
}

.profile span>span>a {
  margin: 0px 5px
}

.profile a:hover {
  color: #06d6a0;
}

.profile #MsgBx {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  padding: 20px;
}

.profile #MsgBx>li {
  list-style: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-color: #036666;
  width: fit-content;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: var(--poppins-font);
  position: relative;
  animation: enteranceError 1s ease;
  margin: 5px;
}

.profile input:focus {
  border: 5px solid #06d6a0;
  height: 49px;
  margin-top: 2px;
}

.profile option {
  color: black;
  background-color: rgba(255, 255, 255, 0.801)
}
